html, body {
    background-image: repeating-radial-gradient(circle, rgb(0, 174, 255), rgb(95, 5, 238), rgb(0, 255, 191));
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: cornflowerblue;
}

footer {
    background-color: darkslategrey;
    color: aliceblue
}

ul {
    width: 15%;
    margin: auto;
    font-size: 22px;
}