<h2>Add a New Dinosaur!</h2>
<form method="POST" action="/dinosaurs">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="enter name">

    <label for="type">Type:</label>
    <input type="text" id="type" name="type" placeholder="what type of dinosaur?">

    <input type="submit" value="Add Your Dino!!">
</form>